section#about(name='about')
	#g
		.container
			.row
				h3 ABOUT US
				br
				br
				.col-lg-2
				.col-lg-8
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sint est provident ipsum soluta dolorem necessitatibus! Alias totam similique nam iste tenetur magni nesciunt perferendis nihil, distinctio, necessitatibus ea at.
				br
				br

				.col-lg-2
				.col-lg-3.team
					img.img-circle(
						src='/dist/assets/team01.jpg'
						height='90' width='90'
					)
					h4 Albert Einstein
					h5
						i Senior Dude
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repellat.
					a.icon-facebook(href='index.html#')
					a.icon-twitter(href='index.html#')
					a.icon-envelope(href='index.html#')
				.col-lg-3.team
					img.img-circle(
						src='/dist/assets/team02.jpg'
						height='90' width='90'
					)
					h4 Cladius Clay
					h5
						i Intern Puncher
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repellat.
					a.icon-facebook(href='index.html#')
					a.icon-twitter(href='index.html#')
					a.icon-envelope(href='index.html#')
				.col-lg-3.team
					img.img-circle(
						src='/dist/assets/team03.jpg'
						height='90' width='90'
					)
					h4 Neils Bohr
					h5
						i Social Media Manager
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repellat.
					a(href='index.html#')
						i.icon-facebook
					a.icon-twitter(href='index.html#')
					a.icon-envelope(href='index.html#')
				.col-lg-3.team
					img.img-circle(
						src='/dist/assets/team04.jpg'
						height='90' width='90'
					)
					h4 Judge Judy
					h5
						i Human Relations
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repellat.
					a(href='index.html#')
						i.icon-facebook
					a(href='index.html#')
						i.icon-twitter
					a(href='index.html#')
						i.icon-envelope